/*.header{
    margin-top:45px;
   
}

.header__image{
    max-width:880;
    max-height:74px;

}

.header__line{
   margin: 53px 0 53px 0 ;
   max-width: 880px;

}

/*@media screen and (max-width:320px) {
    .header__image{
       margin-right:200px;
    }
    
    .header__line{
        max-width:320px;
        margin-top:84px;
    }
}*/

@media screen and (max-width: 620px) {
    .header {
      margin-top: 28px;
      margin-bottom: 0;
    }
  }.header {
    margin-top: 45px;
    margin-bottom: 40px;
    border-bottom-color: rgba(84, 84, 84, 0.7);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-sizing: border-box;
  }
 
  
